@import '../../global.scss';




#github{
    background-color: white;
}

.github1{
    h2{
        font-size: 45px;
        display: flex;
        justify-content: center;
    }

    @include mobile{
        margin-top: 60px;
    }

    .icon{
        font-size: 45px;
        color: $mainColor;
    }
}


.card{
    width: 20%;
    margin: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #cccc;
    border-radius: 10px;

    @include mobile{
        width: 65%;
    }

    .card-img{
        display: block;
    }

    .card-title{
        padding: 10px;
    }

    
    hr{
        color: #cccc;
    }
    
    .card-body{
        
        padding: 10px;

        p{    
            font-size: 19px;
        }

        a{
            text-decoration: none;
            color: black;
            cursor: pointer;
            transition: all 500ms ease;
            font-size: 17px;
            padding: 15px;

            &:hover{
                text-decoration: underline;
                color: lighten($color: $mainColor, $amount: 30) ;
            }
        }
    }
}