@import '../../global.scss';


#skills{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $mainColor;

    h2{
        color: white;
        font-size: 45px;
    }

    .skills{
        width: 50%;

        #html{
            max-width: 450px;
        }

        #css{
            max-width: 400px;
        }

        #sass{
            max-width: 350px;
        }

        #js{
            max-width: 400px;
        }

        #react{
            max-width: 300px;
        }

        @include mobile{
            width: 90%;

            #html{
                max-width: 244px;
            }

            #css{
                max-width: 210px;
            }

            #sass{
                max-width: 180px;
            }

            #js{
                max-width: 210px;
            }

            #react{
                max-width: 160px;
            }

        }
    }
}

.skill-name{
    font-size: 18px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    margin: 20px;
}


.skill-bar{
    height: 25px;
    background-color:lighten($color: black, $amount: 60);
    max-width: 90%;
    border-radius: 10px;
}

.skill-per{
    height: 25px;
    background-color: white;
    border-radius: 10px;
}

.skill-per::before{
    content: attr(per);
    margin-left: 15px;
}