@import '../../global.scss';

.intro{
    background-color: white;
    display: flex;


    @include mobile{
        flex-direction: column;
        align-items: center;

    }
    
    
    .left{
        flex: 0.5;
        overflow: hidden;


        @include mobile{

            flex: 0.6;
               
        }
        

    }

    .right{
        flex: 1;

        @include mobile{

            flex: 1;
               
        }

        .wrapper{
            width: 100%;
            height: 100%;
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            @include mobile{
                align-items: center;
                padding-left: 0px;   
                height: 70%;
            }

            h1{
                margin: 10px 0px;
                font-size: 55px;   
                
                @include mobile{

                    font-size: 36px;   
                }
            }

            h2{
                font-size: 35px;
                
            }
            
            h3{
                font-size: 30px;
                color: $mainColor;

                @include mobile{

                    font-size: 25px;   
                }
            }

            a{
                display: flex;
                justify-content: center;

                .downArrow{
                    font-size: 100px;
                    animation: parpadeo 2.3s infinite;
                }

                @keyframes parpadeo {
                    50%{
                        opacity: 1;
                    }
                    100%{
                        opacity: 0;
                    }
                }
            }
        }
    }
}